<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pendientes" href="/tabs/pendientes">
      <ion-icon aria-hidden="true" name="clipboard-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="categorias" href="/tabs/categorias">
      <ion-icon aria-hidden="true" name="grid-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="completadas" href="/tabs/completadas">
      <ion-icon aria-hidden="true" name="bookmark-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
