<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Tareas Completadas 
      <ion-badge class="title-badge" color="light">{{tareasCompletadas.length}}</ion-badge>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="_tareaService.listaTareas.length === 0">
    <ion-item >
      <ion-label>
        <h1>No tienes tareas registradas. ¡Comienza agregando una!</h1>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="tareasCompletadas.length === 0 && _tareaService.listaTareas.length > 0">
    <ion-item >
      <ion-label>
        <h1>Aun no completas ninguna tarea!.</h1>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-lista-tareas *ngIf="tareasCompletadas.length > 0" [completada]="true">
  </app-lista-tareas>
</ion-content>
